body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;

    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px; 
    background: -webkit-linear-gradient(top, #efefef 20%, #bbbbbb 80%);
    background-image:url(/static/images/hops.jpg);
    background-repeat:repeat;
    background-attachment:fixed;
    background-position:left top;
}

}

a:-webkit-any-link {
    text-decoration: none !important;
}

h1, h1 a {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    margin: 0;
    padding: 10px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15em;

}

#welcome {
    height: 250px;
    min-width: 400px;
    background: url(/static/images/BottlesOfBeer.jpg) no-repeat center top;
    width: 92.5%;
    max-width: 1100px;
    margin: auto;
    top: 0;
    left: 0;
    margin-bottom: 5px;
}

#content {
    background: -webkit-linear-gradient(top, #efefef 20%, #bbbbbb 80%);
    background-color:#bbbbbb;
    margin: auto;
    left: 0;
    padding: 10px;
    width: 90%;
}

#content h2 {
    margin: auto;
    text-align: center;
    border: 2px solid #a1a1a1;
    padding: 10px 20px; 
    background: #dddddd;
    width: 25%;
    border-radius: 25px;
}

#content h5 {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.footer {
    font-family: Lobster, Arial, sans-serif;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #0099BB;
    background: linear-gradient(-45deg, #efefef 0%, #bbbbbb 100%);
    margin: auto;
}

.age {
    position: absolute;
    bottom: 20px;
    right: 15px;
    color: grey;
    font-size: 12px;
}

.error {
color: red;
text-align: right;
}

.map {
position: absolute;
right: 30px;
top: 130px;
}

.body + .body {
    margin-top: 15px;
}


.blog-subject {
    position: relative;
    display: block;
    /*border-bottom: 3px solid #666; */
}

.blog-beer-name {
    border-bottom: 3px dotted grey;
}

.blog-info {
    position: relative;
    
}

.blog-content {
    margin-top: 5px;
}

.blog-created {
    position: absolute;
    right: 45px;
    margin-top: -20px;
    color: #999;
}

.beer_form tr, th, td {

font-size: 20px;
padding: 5px;
}

.beer_form td {
    width: 100px;
}
label + label {
    margin-top: 20px;
}

input[type=text], input[type=password] {
width: 400px;
font-size: 20px;
padding: 2px;
}

textarea {
width: 400px;
height: 200px;
font-size: 17px;
font-family: monospace;
}

input[type=number] {
    width: 100px;
    font-size: 20px;
    padding: 2px;
}

input[type=submit] {
font-size: 24px;
}

.art + .art {
margin-top: 20px;
}

.art-title {
font-weight: bold;
font-size: 20px;
}

.art-body {
margin: 0;
font-size: 17px;
}