{% extends "base.html" %}

{% block title %}
  <title>Signup</title>
{% endblock %}

{% block content %}

  <body>
    <h2>Signup</h2>
    <form class="form-signup col-lg-6" role="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username" required autofocus value="{{username}}" />
        <div class="error">{{user_error}}</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" value="" />
        <div class="error">{{password_error}}</div>
      </div>
      <div class="form-group">
        <label for="verify">Verify Password</label>
        <input type="password" class="form-control" name="verify" value="" />
        <div class="error">{{password_error}}</div>
      </div>
      <div class="form-group">
        <label for="password">Email (optional)</label>
        <input type="email" class="form-control" name="email" value="{{email}}" />
        <div class="error">{{password_error}}</div>
      </div>
    </form>
    <div class="col-lg-6">
      <img src="/static/images/bottlesofbeer.jpg" alt="beer" style="width:500px;height:320px">
    </div>

            
          <!-- </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">{{verify_error}}</td>
            
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">{{email_error}}</td>
            
          </td>
        </tr>
      </table>
      <div style="color: red">{{error}}</div>

      <input type="submit">
    </form>
    <br>
    <canvas></canvas> -->

{% endblock %}